httpd.pid
httpd_error_log
__pycache__/
cypress/plugins
cypress/support
cypress/videos

# Ignore compiled files
/cli/newtonraphson.exe
/cgi/apache2/cgi-bin/newtonraphson
/openapi/newtonraphsonpy.*.so

# Ignore entangled db
.entangled/db.sqlite

# other ignores
node_modules

