httpd.pid
httpd_error_log
__pycache__/
cypress/plugins
cypress/support
cypress/videos

# Ignore compiled files
bin/newtonraphson.exe
src/py/newtonraphsonpy.*.so
apache2/cgi-bin/newtonraphson
src/js/newtonraphsonwasm.js
src/js/newtonraphsonwasm.wasm
