httpd.pid
httpd_error_log
__pycache__/
cypress/plugins
cypress/support
cypress/videos

# Ignore compiled files
bin/newtonraphson.exe
src/py/newtonraphsonpy.*.so
apache2/cgi-bin/newtonraphson

# Ignore entangled db
.entangled/db.sqlite

# other ignores
node_modules

# SonarCloud
.scannerwork
